<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
<title></title>
<link rel="icon" type="image/x-icon" href="imgs/title.ico"><!-- css -->
<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="lib/AdminLTE/css/AdminLTE.min.css">
<link rel="stylesheet" href="lib/AdminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet"
	href="lib/datatables/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="lib/ColVis/css/dataTables.colVis.min.css">
<link rel="stylesheet"
	href="lib/FixedColumns/css/dataTables.fixedColumns.min.css">
<link rel="stylesheet"
	href="lib/datatables/extensions/Buttons/css/buttons.dataTables.css">
<link rel="stylesheet"
	href="lib/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css">
<link rel="stylesheet" href="lib/datetimepicker/css/bootstrap-datetimepicker.css">
<link rel="stylesheet" href="css/zben.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="lib/select2/dist/css/select2.css">
<link rel="stylesheet" href="lib/web_uploader/webuploader.css">
<link rel="stylesheet" href="lib/bootstrap-select/bootstrap-select.min.css">
<!-- js -->
<script src="lib/jquery/jquery-2.2.3.min.js"></script>
<script src="lib/jquery/jQuery.resizeEnd.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="lib/angularjs/angular.min.js"></script>
<script src="lib/angularjs/angular-cookies.min.js"></script>
<script src="lib/angular-translate/angular-translate.min.js"></script>
<script
	src="lib/angular-translate/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
<script
	src="lib/angular-translate/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
<script
	src="lib/angular-translate/angular-translate-loader-url/angular-translate-loader-url.min.js"></script>
<script src="lib/angularjs/angular-sanitize.min.js"></script>
<script src="lib/angular-datatables/angular-datatables.min.js"></script>
<script src="lib/FixedColumns/js/dataTables.fixedColumns.min.js"></script>
<script
	src="lib/angular-datatables/plugins/fixedcolumns/angular-datatables.fixedcolumns.min.js"></script>
<script
	src="lib/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="lib/datatables/extensions/Buttons/js/buttons.colVis.min.js"></script>
<script src="lib/datatables/extensions/Buttons/js/buttons.flash.min.js"></script>
<script src="lib/datatables/extensions/Buttons/js/buttons.html5.min.js"></script>
<script src="lib/datatables/extensions/Buttons/js/buttons.print.min.js"></script>
<script
	src="lib/angular-datatables/plugins/buttons/angular-datatables.buttons.min.js"></script>
<script src="lib/datatables-columnfilter/dataTables.columnFilter.js"></script>
<script
	src="lib/angular-datatables/plugins/columnfilter/angular-datatables.columnfilter.min.js"></script>
<script src="lib//bootstrap3-dialog/dist/js/bootstrap-dialog.min.js"></script>
<script src="lib/angular-local-storage/angular-local-storage.min.js"></script>
<script src="lib/jQueryUI/jquery-ui.min.js"></script>
<script src="lib/angular-ui-tree/angular-ui-tree.min.js"></script>
<script src="lib/datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="lib/AdminLTE/js/app.js"></script>
<script src="lib/AdminLTE/js/demo.js"></script>
<script src="lib/web_uploader/webuploader.js"></script>
<script src="lib/daterangepicker/moment.min.js"></script>
<script src="lib/select2/dist/js/select2.js"></script>
<script src="js/zben.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="lib/bootstrap-select/bootstrap-select.min.js"></script>
<script src="js/controller/cpInfo_controller_server.js"></script>
<script src="js/service/cpInfo_service.js"></script>
</head>

<body class="hold-transition skin-blue sidebar-mini" ng-app="cpInfoModule"
	id="content-wrapper" ng-controller="ServerSideCtrl as ctrl">
	<div class="wrapper">
	
		<!-- 头部和左侧 开始 -->
		<div>
			<header class="main-header" ng-include="'html/top.html'">
			</header>
			
			<aside class="main-sidebar" ng-include="'html/left.html'">
			</aside>
		</div>
		
   <!-- 头部和左侧 结束 -->
		<div class="content-wrapper">
			<section class="content-header" id="content_section">
				<h1 translate="common.cpInfo"></h1>
				<ol class="breadcrumb">
					<li translate="common.home"><a href="#"><i class="fa fa-dashboard"></i></a></li>
					<li class="active" translate="common.cpInfoM"></li>
				</ol>
			</section>
			<section class="content">
				<div class="row">
					<div class="col-xs-12">
						<div class="box box-primary collapsed-box">
							<form class="form-horizontal" ng-submit="ctrl.reloadData()"
								name="searchForm">
								<div class="box-search-info">
									<div class="box-header with-border">
										<div class="row">
											<div class="col-sm-8 pull-left">
												<button type="button"
													class="btn btn-primary btn-sm table-tool-left" id="btn-add"
													data-toggle="modal" data-target="#myModal"
													ng-click="ctrl.addInit()" translate="common.add"></button>
											</div>
											<div class="col-sm-4 pull-right">
											<button type="button"
												class="btn btn-info btn-sm table-tool-right"
												data-widget="collapse" data-toggle="tooltip" id="queryBtn" title="">
												<i class="fa  fa-angle-double-down" translate="common.expand.query">&nbsp;</i>
											</button>
									     	</div>
										</div>
									</div>
								</div>
								
					<!-- table start -->
					<div class="box-body" style="display: none">
					<div class="row">
						<div class="form-group col-sm-6">
									<label for="cpInfoId"
										class="col-sm-4 control-label control-label-zb" translate="cpInfo.cpName"></label>
									<div class="col-sm-7">
										<input type="text" class="form-control" autocomplete="off"  ng-model="ctrl.beanSer.cpName"
											placeholder="{{'cpInfo.cpName' | translate }}">
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label for="spInfoId"
										class="col-sm-4 control-label control-label-zb" translate="cpInfo.cpInfoId"></label>
									<div class="col-sm-7">
										<input type="text" class="form-control" autocomplete="off"  ng-model="ctrl.beanSer.cpInfoId"
											placeholder="{{'cpInfo.cpInfoId' | translate }}">
									</div>
								</div>
								</div>
					        <div class="row">
						      <div class="form-group col-sm-6">
										<label for="status"
											class="col-sm-4 control-label control-label-zb" translate="cpInfo.status"></label>
										<div class="col-sm-7">
											<select class="form-control" id="status" name="status" placeholder="{{'cpInfo.status' | translate }}" 
											ng-model="ctrl.beanSer.status">
											    <option value="" translate="common.choose"></option>
                                                <option value="0" translate="common.apply"></option>
											    <option value="1" translate="common.ordinary"></option>
											    <option value="2" translate="common.pause"></option>
											    <option value="3" translate="cpInfo.logout"></option>
											    <option value="4" translate="cpInfo.applyReject"></option>
											</select>
										</div>
									</div>
					        </div>
								<div class="row">
									<div class="col-sm-10">
										<button type="submit" class="btn btn-block btn-info btn-sm"
											style="float: right; width: 75px;" id="bth-searchDate" translate="search"></button>
									</div>
								</div>
							</div>
							<!-- end box-body -->
								
							</form>
						</div>


						<!-- table start -->
						<div class="box box-primary" id="example">
							<div class="box-body">
								<table datatable="" id="table_id" dt-options="ctrl.dtOptions"
									dt-columns="ctrl.dtColumns" dt-instance="ctrl.dtInstance"
									class="row-border hover">
								</table>
							</div>
							<!-- /.box-body -->
							<div id="loadDiv"  style="position: absolute;top: 50%; left: 50%;width: 100%; height: 40px;margin-left: -50%;margin-top: -25px;padding-top: 20px;text-align: center;font-size: 1.2em;"translate="common.loading"></div>
						</div>
						<!-- table end -->
					</div>
				</div>
			</section>


			<!-- 模态框（Modal） -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<form class="form-horizontal" ng-submit="ctrl.submit()"
					name="addEditForm">
					<div class="modal-dialog">
						<div class="modal-content" style="padding: 3px;">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel"><span ng-bind="ctrl.modelTitle"></span></h4>
								<!-- 校验start -->
								<div ng-include="'html/tips.html'"></div>
								<!-- 校验end -->
						</div>
								<div class="box box-primary">
								<div class="row">
									<div class="col-xs-12">
										<section class="content-header" id="content_section"></section>
										<section class="content">
											<input type="hidden" ng-model="ctrl.bean.userId" />
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.spInfo"></label>
													<div class="col-sm-7">
														<select class="form-control"  id="spInfo2" name="spInfo2"  ng-model="ctrl.bean.spInfoId"  style="width:100%" required>
						                                          <option value="" translate="common.choose"></option>
						                                          <option ng-repeat="x in ctrl.spInfoData" value="{{x.spInfoId}}" ng-bind="x.companyName"></option>
						                                   </select>
																<div ng-show="addEditForm.spInfo2.$error.required" style="color:red" translate="cpInfo.spInfoId.required">
	                                                         </div> 
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.cpName"></label>
													<div class="col-sm-7">
													  <input type="text" class="form-control" name="cpName" id="cpName" autocomplete="off" ng-pattern="/^(?!.*[~!@$#%^&*<>)/(])/"  ng-maxlength="64" ng-model="ctrl.bean.cpName" 
															placeholder="{{'cpInfo.cpName'   | translate }}" required>
																<div ng-show="addEditForm.cpName.$error.required" style="color:red" translate="cpInfo.cpName.required">
	                                                         </div> 
	                                                          <div ng-show="addEditForm.cpName.$error.maxlength" style="color:red" translate="cpInfo.cpName.length">
	                                                         </div>
	                                                         <div ng-show="addEditForm.cpName.$error.pattern" style="color:red" translate="common.illegalChar">
									                         </div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.cpAddr"></label>
													<div class="col-sm-7">
													  <input type="text" class="form-control" name="cpAddr" id="cpAddr" autocomplete="off" ng-pattern="/^(?!.*[~!@$#%^&*<>)/(])/"  ng-maxlength="128" ng-model="ctrl.bean.cpAddr" 
															placeholder="{{'cpInfo.cpAddr'   | translate }}" >
																<!-- <div ng-show="addEditForm.cpAddr.$error.required" style="color:red" translate="cpInfo.cpAddr.required">
	                                                         </div>  -->
	                                                          <div ng-show="addEditForm.cpAddr.$error.maxlength" style="color:red" translate="cpInfo.cpAddr.length">
	                                                         </div>
	                                                         <div ng-show="addEditForm.cpAddr.$error.pattern" style="color:red" translate="common.illegalChar">
									                         </div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.legalPerson"></label>
													<div class="col-sm-7">
													  <input type="text" class="form-control" name="legalPerson" id="legalPerson" ng-pattern="/^(?!.*[~!@$#%^&*<>)/(])/"  ng-maxlength="32" autocomplete="off" ng-model="ctrl.bean.legalPerson" 
															placeholder="{{'cpInfo.legalPerson'   | translate }}" required>
																<div ng-show="addEditForm.legalPerson.$error.required" style="color:red" translate="cpInfo.legalPerson.required">
	                                                         </div> 
	                                                         <div ng-show=" addEditForm.legalPerson.$error.maxlength" style="color:red" translate="cpInfo.legalPerson.length">
	                                                         </div>
	                                                         <div ng-show="addEditForm.legalPerson.$error.pattern" style="color:red" translate="common.illegalChar">
									                         </div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.bankName"></label>
													<div class="col-sm-7">
													  <input type="text" class="form-control" name="bankName" id="bankName" ng-pattern="/^(?!.*[~!@$#%^&*<>)/(])/" ng-maxlength="64" autocomplete="off" ng-model="ctrl.bean.bankName" 
															placeholder="{{'cpInfo.bankName'   | translate }}" required>
																<div ng-show="addEditForm.bankName.$error.required" style="color:red" translate="cpInfo.bankName.required">
	                                                         </div> 
	                                                          <div ng-show=" addEditForm.bankName.$error.maxlength" style="color:red" translate="cpInfo.bankName.length">
	                                                         </div>
	                                                         <div ng-show="addEditForm.bankName.$error.pattern" style="color:red" translate="common.illegalChar">
									                         </div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.webAddr"></label>
													<div class="col-sm-7">
													  <input type="text" class="form-control" name="webAddr" id="webAddr"  ng-maxlength="32" autocomplete="off" ng-model="ctrl.bean.webAddr" 
															placeholder="{{'cpInfo.webAddr'   | translate }}" required>
																<div ng-show="addEditForm.webAddr.$error.required" style="color:red" translate="cpInfo.webAddr.required">
	                                                         </div> 
	                                                           <div ng-show=" addEditForm.bankName.$error.maxlength" style="color:red" translate="cpInfo.webAddr.length">
	                                                         </div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.bankAccount"></label>
													<div class="col-sm-7">
													  <input type="text" class="form-control" name="bankAccount" autocomplete="off" id="bankAccount" ng-pattern="/^(?!.*[~!@$#%^&*<>)/(])/"  ng-maxlength="32"ng-model="ctrl.bean.bankAccount" 
															placeholder="{{'cpInfo.bankAccount'   | translate }}" required>
																<div ng-show="addEditForm.bankAccount.$error.required" style="color:red" translate="cpInfo.bankAccount.required">
	                                                         </div> 
	                                                           <div ng-show=" addEditForm.bankAccount.$error.maxlength" style="color:red" translate="cpInfo.bankAccount.length">
	                                                         </div>
	                                                         <div ng-show="addEditForm.bankAccount.$error.pattern" style="color:red" translate="common.illegalChar">
									                         </div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.faxNo"></label>
													<div class="col-sm-7">
													  <input type="text" class="form-control" name="faxNo" id="faxNo" autocomplete="off" ng-pattern="/^(?!.*[~!@$#%^&*<>)/(])/"  ng-maxlength="32" ng-model="ctrl.bean.faxNo" 
															placeholder="{{'cpInfo.faxNo'   | translate }}">
																<!-- <div ng-show="addEditForm.faxNo.$error.required" style="color:red" translate="cpInfo.faxNo.required">
	                                                         </div>  -->
	                                                        <div ng-show=" addEditForm.faxNo.$error.maxlength" style="color:red" translate="cpInfo.faxNo.length">
	                                                         </div>
	                                                         <div ng-show="addEditForm.faxNo.$error.pattern" style="color:red" translate="common.illegalChar">
									                         </div>  
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.businessPerson"></label>
													<div class="col-sm-7">
													  <input type="text" class="form-control" name="businessPerson" autocomplete="off" id="businessPerson" ng-pattern="/^(?!.*[~!@$#%^&*<>)/(])/"  ng-maxlength="64" ng-model="ctrl.bean.businessPerson" 
															placeholder="{{'cpInfo.businessPerson'   | translate }}" required>
																<div ng-show="addEditForm.businessPerson.$error.required" style="color:red" translate="cpInfo.businessPerson.required">
	                                                         </div> 
	                                                         <div ng-show=" addEditForm.businessPerson.$error.maxlength" style="color:red" translate="cpInfo.businessPerson.length">
	                                                         </div>
	                                                         <div ng-show="addEditForm.businessPerson.$error.pattern" style="color:red" translate="common.illegalChar">
									                         </div>  
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.businessTel"></label>
													<div class="col-sm-7">
													<!--校验格式：区号为3到4位，后面为电话号码  -->
													  <input type="text" class="form-control" name="businessTel" autocomplete="off" id="businessTel" ng-pattern="/^(\(\d{3,4}\)|\d{3,4}-|\s)?\d{0,32}$/"  ng-maxlength="32" ng-model="ctrl.bean.businessTel" 
															placeholder="{{'cpInfo.businessTel'   | translate }}">
																<!-- <div ng-show="addEditForm.businessTel.$error.required" style="color:red" translate="cpInfo.businessTel.required">
	                                                         </div>  -->
	                                                         <div ng-show=" addEditForm.businessTel.$error.maxlength" style="color:red" translate="cpInfo.businessTel.length">
	                                                         </div>
	                                                         <div ng-show="addEditForm.businessTel.$error.pattern" style="color:red" translate="common.tel.error">
									                         </div> 
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.businessMobile"></label>
													<div class="col-sm-7">
													<!--校验格式：区号2到4位，后面为电话号码，  -->
													  <input type="text" class="form-control" name="businessMobile" autocomplete="off" id="businessMobile" ng-pattern="/^\d{0,32}$/"  ng-maxlength="32" ng-model="ctrl.bean.businessMobile" 
															placeholder="{{'cpInfo.businessTel'   | translate }}">
																<!-- <div ng-show="addEditForm.businessMobile.$error.required" style="color:red" translate="cpInfo.businessMobile.required">
	                                                         </div>  -->
	                                                         <div ng-show=" addEditForm.businessMobile.$error.maxlength" style="color:red" translate="cpInfo.businessMobile.length">
	                                                         </div>
	                                                         <div ng-show="addEditForm.businessMobile.$error.pattern" style="color:red" translate="common.phone.error">
									                         </div>  
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.businessEmail"></label>
													<div class="col-sm-7">
													  <input type="email" class="form-control" name="businessEmail" autocomplete="off" id="businessEmail"  ng-maxlength="32" ng-model="ctrl.bean.businessEmail" 
															placeholder="{{'cpInfo.businessEmail'   | translate }} ">
															<!-- <div ng-show="addEditForm.businessEmail.$error.required" style="color:red" translate="cpInfo.businessEmail.required">
	                                                         </div>  -->
	                                                       <div ng-show="addEditForm.businessEmail.$error.email" style="color:red" translate="common.email.error">
	                                                         </div> 
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.customerPerson"></label>
													<div class="col-sm-7">
													  <input type="text" class="form-control" name="customerPerson" autocomplete="off" id="customerPerson" ng-pattern="/^(?!.*[~!@$#%^&*<>)/(])/"  ng-maxlength="64" ng-model="ctrl.bean.customerPerson" 
															placeholder="{{'cpInfo.customerPerson'   | translate }}" required>
																<div ng-show="addEditForm.customerPerson.$error.required" style="color:red" translate="cpInfo.customerPerson.required">
	                                                         </div> 
	                                                          <div ng-show=" addEditForm.customerPerson.$error.maxlength" style="color:red" translate="cpInfo.customerPerson.length">
	                                                         </div>
	                                                         <div ng-show="addEditForm.customerPerson.$error.pattern" style="color:red" translate="common.illegalChar">
									                         </div>  
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.customerTel"></label>
													<div class="col-sm-7">
													  <input type="text" class="form-control" name="customerTel" autocomplete="off" id="customerTel" ng-pattern="/^(\(\d{3,4}\)|\d{3,4}-|\s)?\d{0,32}$/" ng-maxlength="32" ng-model="ctrl.bean.customerTel" 
															placeholder="{{'cpInfo.customerTel'   | translate }}">
															<!-- <div ng-show="addEditForm.customerTel.$error.required" style="color:red" translate="cpInfo.customerTel.required">
	                                                         </div>  -->
	                                                        <div ng-show=" addEditForm.customerTel.$error.maxlength" style="color:red" translate="cpInfo.customerTel.length">
	                                                         </div>
	                                                         <div ng-show="addEditForm.customerTel.$error.pattern" style="color:red" translate="common.tel.error">
									                         </div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.customerMobile"></label>
													<div class="col-sm-7">
													  <input type="text" class="form-control" name="customerMobile" autocomplete="off" id="customerMobile" ng-pattern="/^\d{0,32}$/"  ng-maxlength="32" ng-model="ctrl.bean.customerMobile" 
															placeholder="{{'cpInfo.customerMobile'   | translate }}" >
																<!-- <div ng-show="addEditForm.customerMobile.$error.required" style="color:red" translate="cpInfo.customerMobile.required">
	                                                         </div>  -->
	                                                         <div ng-show=" addEditForm.customerMobile.$error.maxlength" style="color:red" translate="cpInfo.customerMobile.length">
	                                                         </div>
	                                                          <div ng-show="addEditForm.customerMobile.$error.pattern" style="color:red" translate="common.phone.error">
									                         </div>  
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.customerEmail"></label>
													<div class="col-sm-7">
													  <input type="email" class="form-control" name="customerEmail" autocomplete="off" id="customerEmail"  ng-maxlength="32" ng-model="ctrl.bean.customerEmail" 
															placeholder="{{'cpInfo.customerEmail'   | translate }} ">
																<!-- <div ng-show="addEditForm.customerEmail.$error.required" style="color:red" translate="cpInfo.customerEmail.required">
	                                                         </div>  -->
	                                                       <div ng-show="addEditForm.customerEmail.$error.email" style="color:red" translate="common.email.error">
	                                                         </div> 
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.status"></label>
													<div class="col-sm-7">
													<select class="form-control" id="status" name="status" placeholder="{{'cpInfo.status' | translate }}" 
													ng-model="ctrl.bean.status" required>
													    <option value="" translate="common.choose"></option>
		                                                <option value="0" translate="common.apply"></option>
													    <option value="1" translate="common.ordinary"></option>
													    <option value="2" translate="common.pause"></option>
													    <option value="3" translate="cpInfo.logout"></option>
													    <option value="4" translate="cpInfo.applyReject"></option>
													</select>
													<div ng-show="addEditForm.status.$error.required" style="color:red" translate="cpInfo.status.required">
	                                                         </div> 
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.isEnable"></label>
													<div class="col-sm-7">
													<select class="form-control" id="isEnable" name="isEnable" placeholder="{{'cpInfo.isEnable' | translate }}" 
													ng-model="ctrl.bean.isEnable" required>
													    <option value="" translate="common.choose"></option>
		                                                <option value="1" translate="common.activate"></option>
													    <option value="2" translate="common.inactivate"></option>
													</select>
													<div ng-show="addEditForm.isEnable.$error.required" style="color:red" translate="cpInfo.isEnable.required">
	                                         	</div> 
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.registerEmail"></label>
													<div class="col-sm-7">
													  <input type="email" class="form-control" name="registerEmail" autocomplete="off" id="registerEmail"  ng-maxlength="32" ng-model="ctrl.bean.registerEmail" 
															placeholder="{{'cpInfo.registerEmail'   | translate }} " required>
																<div ng-show="addEditForm.registerEmail.$error.required" style="color:red" translate="cpInfo.registerEmail.required">
	                                                         </div> 
	                                                       <div ng-show="addEditForm.registerEmail.$error.email" style="color:red" translate="common.email.error">
	                                                         </div> 
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.cpCode"></label>
													<div class="col-sm-7">
													  <input type="text" class="form-control" name="cpCode" id="cpCode" autocomplete="off" ng-pattern="/^(?!.*[~!@$#%^&*<>)/(])/"  ng-maxlength="32" ng-model="ctrl.bean.cpCode" 
															placeholder="{{'cpInfo.cpCode'   | translate }}" required> 
																<div ng-show="addEditForm.cpCode.$error.required" style="color:red" translate="cpInfo.cpCode.required">
	                                                         </div> 
	                                                        <div ng-show=" addEditForm.cpCode.$error.maxlength" style="color:red" translate="cpInfo.cpCode.length">
	                                                         </div>
	                                                         <div ng-show="addEditForm.cpCode.$error.pattern" style="color:red" translate="common.illegalChar">
									                         </div>     
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.rejectReason"></label>
													<div class="col-sm-7">
														<textarea type="text" class="form-control" id="rejectReason" name="rejectReason"
															placeholder="{{'cpInfo.rejectReason' |translate }}" ng-model="ctrl.bean.rejectReason"  ng-maxlength="1000"></textarea>
	                                                         <div ng-show=" addEditForm.rejectReason.$error.maxlength" style="color:red" translate="cpInfo.rejectReason.length">
	                                                          </div>
	                                                         <div ng-show="addEditForm.rejectReason.$error.pattern" style="color:red" translate="common.illegalChar">
									                         </div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.tecPerson"></label>
													<div class="col-sm-7">
													  <input type="text" class="form-control" name="tecPerson" id="tecPerson" autocomplete="off" ng-pattern="/^(?!.*[~!@$#%^&*<>)/(])/"  ng-maxlength="64" ng-model="ctrl.bean.tecPerson" 
															placeholder="{{'cpInfo.tecPerson'   | translate }}" required>
																<div ng-show="addEditForm.tecPerson.$error.required" style="color:red" translate="cpInfo.tecPerson.required">
	                                                         </div> 
	                                                        <div ng-show=" addEditForm.tecPerson.$error.maxlength" style="color:red" translate="cpInfo.tecPerson.length">
	                                                         </div>
	                                                         <div ng-show="addEditForm.tecPerson.$error.pattern" style="color:red" translate="common.illegalChar">
									                         </div>   
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.tecTel"></label>
													<div class="col-sm-7">
													  <input type="text" class="form-control" name="tecTel" id="tecTel" autocomplete="off"  ng-maxlength="32" ng-pattern="/^(\(\d{3,4}\)|\d{3,4}-|\s)?\d{0,32}$/" ng-model="ctrl.bean.tecTel" 
															placeholder="{{'cpInfo.tecTel'   | translate }}">
																<!-- <div ng-show="addEditForm.tecTel.$error.required" style="color:red" translate="cpInfo.tecTel.required">
	                                                         </div> -->
	                                                         <div ng-show=" addEditForm.tecTel.$error.maxlength" style="color:red" translate="cpInfo.tecTel.length">
	                                                         </div>
	                                                        <div ng-show="addEditForm.tecTel.$error.pattern" style="color:red" translate="common.tel.error">
									                         </div> 
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.tecMobile"></label>
													<div class="col-sm-7">
													  <input type="text" class="form-control" name="tecMobile" autocomplete="off" id="tecMobile" ng-maxlength="32" ng-pattern="/^\d{0,32}$/" ng-model="ctrl.bean.tecMobile" 
															placeholder="{{'cpInfo.tecMobile'   | translate }}">
																<!-- <div ng-show="addEditForm.tecMobile.$error.required" style="color:red" translate="cpInfo.businessTel.required">
	                                                         </div>  -->
	                                                         <div ng-show=" addEditForm.tecMobile.$error.maxlength" style="color:red" translate="cpInfo.tecMobile.length">
	                                                         </div>
	                                                         <div ng-show="addEditForm.tecMobile.$error.pattern" style="color:red" translate="common.phone.error">
									                         </div>  
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.tecEmail"></label>
													<div class="col-sm-7">
													  <input type="email" class="form-control" name="tecEmail" autocomplete="off" id="tecEmail" ng-maxlength="32" ng-model="ctrl.bean.tecEmail" 
															placeholder="{{'cpInfo.tecEmail'   | translate }} ">
																<!-- <div ng-show="addEditForm.tecEmail.$error.required" style="color:red" translate="cpInfo.registerEmail.required">
	                                                         </div>  -->
	                                                       <div ng-show="addEditForm.tecEmail.$error.email" style="color:red" translate="common.email.error">
	                                                         </div> 
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.financePerson"></label>
													<div class="col-sm-7">
													  <input type="text" class="form-control" name="financePerson" id="financePerson" autocomplete="off" ng-pattern="/^(?!.*[~!@$#%^&*<>)/(])/"  ng-maxlength="64" ng-model="ctrl.bean.financePerson" 
															placeholder="{{'cpInfo.financePerson'   | translate }}" required>
																<div ng-show="addEditForm.financePerson.$error.required" style="color:red" translate="cpInfo.financePerson.required">
	                                                         </div> 
	                                                         <div ng-show=" addEditForm.financePerson.$error.maxlength" style="color:red" translate="cpInfo.financePerson.length">
	                                                         </div>
	                                                         <div ng-show="addEditForm.financePerson.$error.pattern" style="color:red" translate="common.illegalChar">
									                         </div>   
													</div>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.financeTel"></label>
													<div class="col-sm-7">
														<input type="text" class="form-control" id="financeTel"name="financeTel" 
															placeholder="{{'cpInfo.financeTel' |translate }}" ng-model="ctrl.bean.financeTel" autocomplete="off" ng-pattern="/^(\(\d{3,4}\)|\d{3,4}-|\s)?\d{0,32}$/" ng-maxlength="32">
															<!-- 	<div ng-show="addEditForm.financeTel.$error.required" style="color:red" translate="cpInfo.financeTel.required">
	                                                         </div>  -->
	                                                         <div ng-show=" addEditForm.financeTel.$error.maxlength" style="color:red" translate="cpInfo.financeTel.length">
	                                                         </div>
	                                                        <div ng-show="addEditForm.financeTel.$error.pattern" style="color:red" translate="common.tel.error">
									                         </div>  
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.financeMobile"></label>
													<div class="col-sm-7">
													  <input type="text" class="form-control" name="financeMobile" autocomplete="off" id="financeMobile" ng-pattern="/^\d{0,32}$/"  ng-maxlength="32" ng-model="ctrl.bean.financeMobile" 
															placeholder="{{'cpInfo.financeMobile'   | translate }}">
																<!-- <div ng-show="addEditForm.financeMobile.$error.required" style="color:red" translate="cpInfo.businessTel.required">
	                                                         </div>  -->
	                                                         <div ng-show=" addEditForm.financeMobile.$error.maxlength" style="color:red" translate="cpInfo.financeMobile.length">
	                                                         </div>
	                                                          <div ng-show="addEditForm.financeMobile.$error.pattern" style="color:red" translate="common.phone.error">
									                         </div> 
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.financeEmail"></label>
													<div class="col-sm-7">
													  <input type="email" class="form-control" name="financeEmail" autocomplete="off" id="financeEmail"  ng-maxlength="32" ng-model="ctrl.bean.financeEmail" 
															placeholder="{{'cpInfo.financeEmail'   | translate }} ">
																<!-- <div ng-show="addEditForm.financeEmail.$error.required" style="color:red" translate="cpInfo.registerEmail.required">
	                                                         </div>  -->
	                                                       <div ng-show="addEditForm.financeEmail.$error.email" style="color:red" translate="common.email.error">
	                                                         </div> 
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userStartTime"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.auditTime"></label>
													<div class="col-sm-7">
														<input type="text" class="form-control" id="auditTime" autocomplete="off" name="auditTime"
															placeholder="{{'cpInfo.auditTime'   | translate }}" ng-model="ctrl.bean.auditTime" date-format>
															<!-- <div ng-show="addEditForm.auditTime.$error.required" style="color:red" translate="cpInfo.auditTime.notEmpty">
	                                                         </div> -->
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.cpLogo"></label>
													<div class="col-sm-7">
														<input type="text" class="form-control" id="cpLogo" name="cpLogo" 
															placeholder="{{'cpInfo.cpLogo' |translate }}" ng-model="ctrl.bean.cpLogo" autocomplete="off" ng-maxlength="256">
																<!-- <div ng-show="addEditForm.cpLogo.$error.required" style="color:red" translate="cpInfo.cpLogo.required">
	                                                         </div> -->
	                                                          <div ng-show=" addEditForm.cpLogo.$error.maxlength" style="color:red" translate="cpInfo.cpLogo.length">
	                                                         </div>
													</div>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.cpRemark"></label>
													<div class="col-sm-7">
														<textarea type="text" class="form-control" id="cpRemark" name="cpRemark" 
															placeholder="{{'cpInfo.cpRemark' |translate }}" ng-model="ctrl.bean.cpRemark"  ng-maxlength="256"></textarea>
	                                                         <div ng-show=" addEditForm.cpRemark.$error.maxlength" style="color:red" translate="cpInfo.cpRemark.length">
	                                                          </div>
	                                                         <div ng-show="addEditForm.cpRemark.$error.pattern" style="color:red" translate="common.illegalChar">
									                         </div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.cpType"></label>
													<div class="col-sm-7">
													<select class="form-control" id="cpType" name="cpType" placeholder="{{'cpInfo.cpType' | translate }}" 
													ng-model="ctrl.bean.cpType" required>
													    <option value="" translate="common.choose"></option>
		                                                <option value="1" translate="cpInfo.selfOperatedCP"></option>
													    <option value="2" translate="cpInfo.cooperationCP"></option>
													</select>
													<div ng-show="addEditForm.cpType.$error.required" style="color:red" translate="cpInfo.cpType.required">
	                                         	</div> 
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.proportion"></label>
													<div class="col-sm-7">
														<input type="text" class="form-control" id="proportion" name="proportion" 
															placeholder="{{'cpInfo.proportion' |translate }}" ng-model="ctrl.bean.proportion" ng-pattern="/^\d+(\.\d+)?$/" autocomplete="off" required>
																<div ng-show="addEditForm.proportion.$error.required" style="color:red" translate="cpInfo.proportion.required">
	                                                         </div>
	                                                         <div ng-show="addEditForm.proportion.$error.pattern" style="color:red" translate="common.illegalChar">
									                         </div>
													</div>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.aear"></label>
													<div class="col-sm-7">
														<input type="text" class="form-control" id="aear" name="aear" ng-pattern="/^(?!.*[~!@$#%^&*<>)/(])/"  ng-maxlength="32"
															placeholder="{{'cpInfo.aear' |translate }}" ng-model="ctrl.bean.aear" autocomplete="off">
																<!-- <div ng-show="addEditForm.aear.$error.required" style="color:red" translate="cpInfo.aear.required">
	                                                         </div>  -->
	                                                         <div ng-show=" addEditForm.aear.$error.maxlength" style="color:red" translate="cpInfo.aear.length">
	                                                          </div>
	                                                         <div ng-show="addEditForm.aear.$error.pattern" style="color:red" translate="common.illegalChar">
									                         </div>
													</div>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.cpAccessId"></label>
													<div class="col-sm-7">
														<input type="text" class="form-control" id="cpAccessId" name="cpAccessId" ng-pattern="/^(?!.*[~!@$#%^&*<>)/(])/"  ng-maxlength="32"
															placeholder="{{'cpInfo.cpAccessId' |translate }}" ng-model="ctrl.bean.cpAccessId" autocomplete="off" required>
																<div ng-show="addEditForm.cpAccessId.$error.required" style="color:red" translate="cpInfo.cpAccessId.required">
	                                                         </div> 
	                                                         <div ng-show=" addEditForm.cpAccessId.$error.maxlength" style="color:red" translate="cpInfo.cpAccessId.length">
	                                                          </div>
	                                                         <div ng-show="addEditForm.cpAccessId.$error.pattern" style="color:red" translate="common.illegalChar">
									                         </div>
													</div>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.cpAccessIdExtend"></label>
													<div class="col-sm-7">
														<input type="text" class="form-control" id="cpAccessIdExtend" name="cpAccessIdExtend" ng-pattern="/^(?!.*[~!@$#%^&*<>)/(])/"  ng-maxlength="32"
															placeholder="{{'cpInfo.cpAccessIdExtend' |translate }}" ng-model="ctrl.bean.cpAccessIdExtend" autocomplete="off" required>
																<div ng-show="addEditForm.cpAccessIdExtend.$error.required" style="color:red" translate="cpInfo.cpAccessIdExtend.required">
	                                                         </div>
	                                                         <div ng-show=" addEditForm.cpAccessIdExtend.$error.maxlength" style="color:red" translate="cpInfo.cpAccessIdExtend.length">
	                                                          </div>
	                                                         <div ng-show="addEditForm.cpAccessIdExtend.$error.pattern" style="color:red" translate="common.illegalChar">
									                         </div>
													</div>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="userId"
														class="col-sm-4 control-label control-label-zb" translate="cpInfo.cpAccessUrl"></label>
													<div class="col-sm-7">
														<input type="text" class="form-control" id="cpAccessUrl" name="cpAccessUrl" ng-maxlength="512"
															placeholder="{{'cpInfo.cpAccessUrl' |translate }}" ng-model="ctrl.bean.cpAccessUrl" autocomplete="off" required>
																<div ng-show="addEditForm.cpAccessUrl.$error.required" style="color:red" translate="cpInfo.cpAccessUrl.required">
	                                                         </div> 
	                                                         <div ng-show=" addEditForm.cpAccessIdExtend.$error.maxlength" style="color:red" translate="cpInfo.cpAccessUrl.length">
	                                                          </div>
	                                                         
													</div>
												</div>
											</div>
										</div>
										
							</section>
								</div>
							</div>
						</div>
						<!-- end box box-primary -->
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal" translate="common.cancel"></button>
							<button type="submit" class="btn btn-primary"ng-disabled="addEditForm.$invalid" translate="common.save"></button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
			</form>
			<!-- /.modal -->
			</div>
		</div>

	</div>
</body>

</html>