<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
<title>E-Payment Boss Sys Role Menu</title>
<link rel="icon" type="image/x-icon" href="imgs/title.ico"><!-- css -->
<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="lib/AdminLTE/css/AdminLTE.min.css">
<link rel="stylesheet" href="lib/AdminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet"
	href="lib/datatables/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="lib/ColVis/css/dataTables.colVis.min.css">
<link rel="stylesheet"
	href="lib/FixedColumns/css/dataTables.fixedColumns.min.css">
<link rel="stylesheet"
	href="lib/datatables/extensions/Buttons/css/buttons.dataTables.css">
<link rel="stylesheet"
	href="lib/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css">
<link rel="stylesheet" href="css/zben.css">
<!-- js -->
<script src="lib/jquery/jquery-2.2.3.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="lib/angularjs/angular.min.js"></script>
<script src="lib/angularjs/angular-cookies.min.js"></script>
<script src="lib/angular-translate/angular-translate.min.js"></script>
<script
	src="lib/angular-translate/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
<script
	src="lib/angular-translate/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
<script
	src="lib/angular-translate/angular-translate-loader-url/angular-translate-loader-url.min.js"></script>
<script src="lib/angularjs/angular-sanitize.min.js"></script>
<script src="lib/angular-datatables/angular-datatables.min.js"></script>
<script src="lib/FixedColumns/js/dataTables.fixedColumns.min.js"></script>
<script
	src="lib/angular-datatables/plugins/fixedcolumns/angular-datatables.fixedcolumns.min.js"></script>
<script
	src="lib/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="lib/datatables/extensions/Buttons/js/buttons.colVis.min.js"></script>
<script src="lib/datatables/extensions/Buttons/js/buttons.flash.min.js"></script>
<script src="lib/datatables/extensions/Buttons/js/buttons.html5.min.js"></script>
<script src="lib/datatables/extensions/Buttons/js/buttons.print.min.js"></script>
<script
	src="lib/angular-datatables/plugins/buttons/angular-datatables.buttons.min.js"></script>
<script src="lib/datatables-columnfilter/dataTables.columnFilter.js"></script>
<script
	src="lib/angular-datatables/plugins/columnfilter/angular-datatables.columnfilter.min.js"></script>
<script src="lib//bootstrap3-dialog/dist/js/bootstrap-dialog.min.js"></script>
<script src="lib/angular-local-storage/angular-local-storage.min.js"></script>
<script src="lib/jQueryUI/jquery-ui.min.js"></script>
<script src="lib/angular-ui-tree/angular-ui-tree.min.js"></script>
<script src="lib/AdminLTE/js/app.js"></script>
<script src="lib/AdminLTE/js/demo.js"></script>
<script src="js/zben.js"></script>
<script src="js/controller/role_controller.js"></script>
<script src="js/service/role_service.js"></script>
</head>

<body class="hold-transition skin-blue sidebar-mini" ng-app="roleModule"
	id="content-wrapper" ng-controller="ClientSideCtrl as ctrl">
	<div class="wrapper">
			<!-- 头部和左侧 开始 -->
		<div>
			<header class="main-header" ng-include="'html/top.html'">
			</header>
			
			<aside class="main-sidebar" ng-include="'html/left.html'">
			</aside>
		</div>
		
   <!-- 头部和左侧 结束 -->

		<div id="content-wrapper" class="content-wrapper">
			<section class="content-header" id="content_section">
			<h1 style="height: 19px">SysRoleMenu</h1>
					<ol class="breadcrumb">
						<li><a href="#"><i class="fa fa-dashboard"></i> {{'common.home' | translate }}</a></li>
						<li class="active">首页</li>
					</ol>
			</section>
			<section class="content">
				<div class="row">
					<div class="col-xs-12">
						<div class="box box-primary collapsed-box">
							<form class="form-horizontal" ng-submit="ctrl.reloadData()"
								name="searchForm">
								<div class="box-search-info">
									<div class="box-header with-border">
										<div class="row">
											<div class="col-sm-8 pull-left">
												<button type="button"
													class="btn btn-primary btn-sm table-tool-left" id="btn-add"
													data-toggle="modal" data-target="#myModal"
													ng-click="ctrl.addInit()">{{'common.add' |
													translate }}</button>
											</div>
										</div>
									</div>
								</div>
						</form>
					</div>


					<!-- table start -->
					<div class="box box-primary">
						<div class="box-body">
							<table datatable="" dt-options="ctrl.dtOptions"
								dt-columns="ctrl.dtColumns" dt-instance="ctrl.dtInstance"
								class="row-border hover">
									<tfoot>
										<tr>
											<th>roleId</th>
											<th>menuId</th>
										</tr>
									</tfoot>
							</table>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- table end -->
				</div>
			</div>
		</section>



		<!-- 模态框（Modal） -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<form class="form-horizontal" ng-submit="ctrl.submit()"
				name="addEditForm">
				<div class="modal-dialog">
					<div class="modal-content" style="padding: 3px;">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel" ng-model="ctrl.modelTitle"><span ng-bind="ctrl.modelTitle"></span></h4>
							<div class="center-block">
								<label class="center-block" style="text-align:center;color:red;font-weight:400" ng-bind="ctrl.statusMessage"></label>
							</div>
						</div>
                	<input type="hidden" ng-model="ctrl.bean.roleId" />
										 
										<!-- <div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="roleId"
														class="col-sm-4 control-label control-label-zb">roleId</label>
													<div class="col-sm-7">
														<input type="text" class="form-control" id="roleId"
															placeholder="roleId" ng-model="ctrl.bean.roleId" ng-readonly="ctrl.readonlyID">
													</div>
												</div>
											</div>
										</div> -->
						<div class="box box-primary">
							<div class="row">
								<div class="col-xs-12">
									<section class="content-header" id="content_section"></section>
									<section class="content">
										<!--<input type="hidden" ng-model="ctrl.bean.roleId" /> -->
										 
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="roleId"
														class="col-sm-4 control-label control-label-zb">roleId</label>
													<div class="col-sm-7">
														<input type="text" class="form-control" id="roleId" name="roleId"
															placeholder="roleId" ng-model="ctrl.bean.roleId" ng-readonly="ctrl.readonlyID" ng-maxlength="ctrl.readonlyID"   required>
															<div ng-show="addEditForm.roleId.$error.required" style="color:red">	                                                                                                                                                                                                     
	                                                         {{'roleid cannot be empty' | translate }} 
	                                                         </div>
	                                                         <div ng-show=" addEditForm.roleId.$error.maxlength" style="color:red">
                                                                        {{ 'roleid cannot be more than 13 bits'  | translate }} 
													</div>
												</div>
											</div>
										</div>
											<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="menuId"
														class="col-sm-4 control-label control-label-zb">{{'menu.menuId' |translate }}</label>
													<div class="col-sm-7">
														<input type="text" class="form-control" id="userId" name="userId"
															placeholder="menuId" ng-model="ctrl.bean.menuId" ng-maxlength="10" required>
															<div ng-show="addEditForm.menuId.$error.required" style="color:red">
	                                                  {{'menuId cannot be empty' | translate }}     
	                                                         </div>
	                                                         <div ng-show=" addEditForm.menuId.$error.maxlength" style="color:red">
                                                     {{'menuId cannot be more than 10 bits' | translate }}              
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
						</div>
						<!-- end box box-primary -->
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">{{'common.cancel'| translate }} </button>
							<button type="submit" class="btn btn-primary"> {{'common.save'| translate }} </button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
			</form>
			<!-- /.modal -->
</div>

	</div>
	</div>
</body>

</html>