<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
<title></title>
<link rel="icon" type="image/x-icon" href="imgs/title.ico"><!-- css -->
<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="lib/AdminLTE/css/AdminLTE.min.css">
<link rel="stylesheet" href="lib/AdminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet"
	href="lib/datatables/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="lib/ColVis/css/dataTables.colVis.min.css">
<link rel="stylesheet"
	href="lib/FixedColumns/css/dataTables.fixedColumns.min.css">
<link rel="stylesheet"
	href="lib/datatables/extensions/Buttons/css/buttons.dataTables.css">
<link rel="stylesheet"
	href="lib/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css">
<link rel="stylesheet" href="lib/datepicker/datepicker3.css">
<link rel="stylesheet" href="lib/datetimepicker/css/bootstrap-datetimepicker.css">
<link rel="stylesheet" href="css/zben.css">
<!-- js -->
<script src="lib/jquery/jquery-2.2.3.min.js"></script>
<script src="lib/jquery/jQuery.resizeEnd.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="lib/angularjs/angular.min.js"></script>
<script src="lib/angularjs/angular-cookies.min.js"></script>
<script src="lib/angular-translate/angular-translate.min.js"></script>
<script
	src="lib/angular-translate/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
<script
	src="lib/angular-translate/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
<script
	src="lib/angular-translate/angular-translate-loader-url/angular-translate-loader-url.min.js"></script>
<script src="lib/angularjs/angular-sanitize.min.js"></script>
<script src="lib/angular-datatables/angular-datatables.min.js"></script>
<script src="lib/FixedColumns/js/dataTables.fixedColumns.min.js"></script>
<script
	src="lib/angular-datatables/plugins/fixedcolumns/angular-datatables.fixedcolumns.min.js"></script>
<script
	src="lib/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
<script src="lib/datatables/extensions/Buttons/js/buttons.colVis.min.js"></script>
<script src="lib/datatables/extensions/Buttons/js/buttons.flash.min.js"></script>
<script src="lib/datatables/extensions/Buttons/js/buttons.html5.min.js"></script>
<script src="lib/datatables/extensions/Buttons/js/buttons.print.min.js"></script>
<script
	src="lib/angular-datatables/plugins/buttons/angular-datatables.buttons.min.js"></script>
<script src="lib/datatables-columnfilter/dataTables.columnFilter.js"></script>
<script
	src="lib/angular-datatables/plugins/columnfilter/angular-datatables.columnfilter.min.js"></script>
<script src="lib//bootstrap3-dialog/dist/js/bootstrap-dialog.min.js"></script>
<script src="lib/angular-local-storage/angular-local-storage.min.js"></script>
<script src="lib/jQueryUI/jquery-ui.min.js"></script>
<script src="lib/angular-ui-tree/angular-ui-tree.min.js"></script>
<script src="lib/AdminLTE/js/app.js"></script>
<script src="lib/AdminLTE/js/demo.js"></script>
<script src="lib/datepicker/bootstrap-datepicker.js"></script>
<script src="lib/datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="lib/daterangepicker/moment.min.js"></script>
<script src="js/zben.js"></script>
<script src="js/controller/taskInstance_controller_server.js"></script>
<script src="js/service/taskInstance_service.js"></script>
</head>

<body class="hold-transition skin-blue sidebar-mini" ng-app="taskInstanceModule"
	id="content-wrapper" ng-controller="ServerSideCtrl as ctrl">

<div class="wrapper">

	<!-- 头部和左侧 开始 -->
		<div>
			<header class="main-header" ng-include="'html/top.html'">
			</header>
			
			<aside class="main-sidebar" ng-include="'html/left.html'">
			</aside>
		</div>
		
   <!-- 头部和左侧 结束 -->
	<div id="content-wrapper" class="content-wrapper">
		<section class="content-header" id="content_section">
				<h1  translate="common.taskInstance"></h1>
				<ol class="breadcrumb">
				<li translate="common.home"><a href="#"><i class="fa fa-dashboard"></i></a></li>
					<li class="active" translate="common.taskInstanceM"></li>
				</ol>
		</section>
		<section class="content">
			<div class="row">
				<div class="col-xs-12">
					<div class="box box-primary collapsed-box">
						<form class="form-horizontal" ng-submit="ctrl.reloadData()"
							name="searchForm">
							<div class="box-search-info">
								<div class="box-header with-border">
									<div class="row">
										<div class="col-sm-8 pull-left">
											<button type="button"
												class="btn btn-primary btn-sm table-tool-left" id="btn-add"
												data-toggle="modal" data-target="#myModal"
												ng-click="ctrl.addInit()" translate="common.add"></button>
										</div>
										<div class="col-sm-4 pull-right">
											<button type="button"
												class="btn btn-info btn-sm table-tool-right"
												data-widget="collapse" data-toggle="tooltip" title="">
												<i class="fa  fa-angle-double-down" translate="common.expand.query">&nbsp;</i>
											</button>
										</div>
									</div>
								</div>
							</div>
							<!-- end box-search-info -->
							<div class="box-body" style="display: none">
								
								<div class="row">
									<div class="form-group col-sm-6">
										<label for="taskInstanceId"
											class="col-sm-4 control-label control-label-zb">{{'taskInstance.taskInstanceId'   | translate }}</label>
										<div class="col-sm-7">
											<input type="text" class="form-control" ng-model="ctrl.beanSer.taskInstanceId"
												placeholder="{{'taskInstance.taskInstanceId'   | translate }}">
										</div>
									</div>
								
									<div class="form-group col-sm-6">
										<label for="taskId"
											class="col-sm-4 control-label control-label-zb">{{'task.taskId'   | translate }}</label>
										<div class="col-sm-7">
											<input type="text" class="form-control" ng-model="ctrl.beanSer.taskId"
												placeholder="{{'task.taskId'   | translate }}">
										</div>
									</div>
	                            </div>
	
	                            
	                              <div class="row">
									<div class="form-group col-sm-6">
										<label for="message"
											class="col-sm-4 control-label control-label-zb">{{'taskInstance.message'   | translate }}</label>
										<div class="col-sm-7">
											<input type="text" class="form-control" id="message" name="message" ng-model="ctrl.beanSer.message"
												placeholder="{{'taskInstance.message'   | translate }}">
										</div>
									</div>
								<div class="form-group col-sm-6">
									<label for="status"
										class="col-sm-4 control-label control-label-zb">{{'user.status' |translate }}</label>
									<div class="col-sm-7">
										<select class="form-control" id="status" name="status" placeholder="{{'user.status' |translate }}" 
                                                  ng-model="ctrl.beanSer.status"  >
                                                <option value="">{{'common.choose' |translate }}</option>
                                                <option value="0">{{'common.unexecuted' |translate }}</option>
                                                <option value="1">{{'common.executed' |translate }}</option>
                                                <option value="3">{{'common.success' |translate }}</option>
                                                <option value="4">{{'common.failure' |translate }}</option>
                                                          </select>
									</div>
								</div>
									</div>
									<div class="row">
									<div class="form-group col-sm-6">
										<label for="progress"
											class="col-sm-4 control-label control-label-zb">{{'taskInstance.progress'   | translate }}</label>
										<div class="col-sm-7">
											<select class="form-control" id="progress" name="progress" placeholder="{{'taskInstance.progress' |translate }}" 
                                                  ng-model="ctrl.beanSer.progress"  >
                                                <option value="">{{'common.choose' |translate }}</option>
                                                <option value="1">{{'common.onepercent' |translate }}</option>
                                                <option value="50">{{'common.fiftypercent' |translate }}</option>
                                                <option value="100">{{'common.hundredpercent' |translate }}</option>
                                                          </select>
										</div>
									</div>
									</div>
								<div class="row">
									<div class="col-sm-10">
										<button type="submit" class="btn btn-block btn-info btn-sm"
											style="float: right; width: 75px;" id="bth-searchDate" translate="search"></button>
									</div>
								</div>
							</div>
							<!-- end box-body -->

						</form>
					</div>


					<!-- table start -->
					<div class="box box-primary" id="example">
						<div class="box-body">
							<table datatable="" id="table_id" dt-options="ctrl.dtOptions"
								dt-columns="ctrl.dtColumns" dt-instance="ctrl.dtInstance"
								class="row-border hover">
							</table>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- table end -->
				</div>
			</div>
		</section>



		<!-- 模态框（Modal） -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<form class="form-horizontal" ng-submit="ctrl.submit()"
				name="addEditForm">
				<div class="modal-dialog">
					<div class="modal-content" style="padding: 3px;">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel" ng-model="ctrl.modelTitle"><span ng-bind="ctrl.modelTitle"></span></h4>
						<!-- 后台校验 -->
							<div ng-if="ctrl.statusCode=='CREATED'">  
                            	<label class="center-block" style="text-align:center;color:green;font-weight:400">{{'common.created.success'   | translate }}</label>
                            </div>
                            
                            <div ng-if="ctrl.statusCode=='OK'">  
                            	<label class="center-block" style="text-align:center;color:green;font-weight:400">{{'common.edit.success'   | translate }}</label>
                            </div>
                            
                           <div ng-if="ctrl.statusCode=='CONFLICT'">  
                            	<label class="center-block" style="text-align:center;color:red;font-weight:400">{{'common.conflict.success'   | translate }}</label>
                           </div>
						</div>

										
						<div class="box box-primary">
							<div class="row">
								<div class="col-xs-12">
									<section class="content-header" id="content_section"></section>
									<section class="content">
									
											<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="taskInstanceId"
														class="col-sm-4 control-label control-label-zb">{{'taskInstance.taskInstanceId'   | translate }}</label>
													<div class="col-sm-7">
														<input type="text" class="form-control" id="taskInstanceId" name="taskInstanceId"
															placeholder="{{'taskInstance.taskInstanceId'   | translate }}" ng-model="ctrl.bean.taskInstanceId" ng-readonly="ctrl.readonlyID" ng-maxlength="32" required>
															<div ng-show="addEditForm.taskInstanceId.$error.required" style="color:red">
	                                                        {{'taskInstance.taskInstanceId.notEmpty'   | translate }}
	                                                         </div>
	                                                         <div ng-show=" addEditForm.taskInstanceId.$error.maxlength" style="color:red">
	                                                        {{'taskInstance.taskInstanceId.length'   | translate }}
	                                                         </div>
													</div>
												</div>
											</div>
										</div>
									
									
											<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="taskInstanceId"
														class="col-sm-4 control-label control-label-zb">{{'task.taskId'   | translate }}</label>
													<div class="col-sm-7">
															 <select class="form-control"  id="taskId" name="taskId" ng-model="ctrl.bean.taskId" required>
						                                          <option value="">{{'common.choose' | translate }}</option>
						                                          <option ng-repeat="x in ctrl.taskInstanceData" value="{{x.taskId}}">{{x.name}}</option>
						                                   </select>
															<div ng-show="addEditForm.taskId.$error.required" style="color:red">
	                                                        {{'task.taskId.notEmpty'   | translate }}
	                                                         </div>
													</div>
												</div>
											</div>
										</div>
										
										
												<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="progress"
														class="col-sm-4 control-label control-label-zb">{{'taskInstance.progress'   | translate }}</label>
													<div class="col-sm-7">
														<input type="text" class="form-control" id="progress" name="progress"
															placeholder="{{'taskInstance.progress'   | translate }}" ng-model="ctrl.bean.progress"  required>
															<div ng-show="addEditForm.progress.$error.required" style="color:red">
	                                                             {{'taskInstance.progress.notEmpty'   | translate }}
	                                                         </div>
													</div>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="message"
														class="col-sm-4 control-label control-label-zb">{{'taskInstance.message'   | translate }}</label>
													<div class="col-sm-7">
														<input type="text" class="form-control" id="message" name="message"
															placeholder="{{'taskInstance.message'   | translate }}" ng-model="ctrl.bean.message" ng-maxlength="128" required>
															<div ng-show="addEditForm.message.$error.required" style="color:red">
	                                                             {{'taskInstance.message.notEmpty'   | translate }}
	                                                         </div>
	                                                         <div ng-show=" addEditForm.message.$error.maxlength" style="color:red">
	                                                           {{'taskInstance.message.length'   | translate }}
	                                                         </div>
													</div>
												</div>
											</div>
										</div>
									<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="progress"
														class="col-sm-4 control-label control-label-zb">{{'taskInstance.progress'   | translate }}</label>
													<div class="col-sm-7">
																<select class="form-control" id="progress" name="progress" placeholder="{{'taskInstance.progress' |translate }}" 
                                                 ng-model="ctrl.bean.progress" ng-disabled="ctrl.disabled"  ng-options="obj.id as obj.name for obj in progress" >
                                                  </select>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="status"
														class="col-sm-4 control-label control-label-zb">{{'taskType.status'   | translate }}</label>
													<div class="col-sm-7">
																<select class="form-control" id="status" name="status" placeholder="{{'user.status' |translate }}" 
                                                 ng-model="ctrl.bean.status" ng-disabled="ctrl.disabled"  ng-options="obj.id as obj.name for obj in status" >
                                                  </select>
													</div>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group col-sm-12">
													<label for="remark"
														class="col-sm-4 control-label control-label-zb">{{'taskType.remark'   | translate }}</label>
													<div class="col-sm-7">
														<textarea type="text" class="form-control" id="remark" name="remark"
															placeholder="{{'taskType.remark'   | translate }}" ng-model="ctrl.bean.remark" ng-maxlength="2000" ></textarea>
														
	                                                         <div ng-show=" addEditForm.remark.$error.maxlength" style="color:red">
	                                                          {{'taskType.remark.length'   | translate }}
	                                                         </div>
													</div>
												</div>
											</div>
										</div>
										
									</section>
								</div>
							</div>
						</div>
						<!-- end box box-primary -->
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">{{'common.cancel'   | translate }}</button>
							<button type="submit" class="btn btn-primary" ng-disabled="addEditForm.$invalid">{{'common.save'   | translate }}</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
			</form>
			<!-- /.modal -->
		</div>

	</div>
	</div>

</body>

</html>