<?xml version="1.0" encoding="GBK" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
           >
	
	<!-- 
		Author:wanghy@aceway.com.cn
		Description: MmsPlatform2 Corebiz Component Configuration
	
	 -->
	 
	 
	 
	 <!--<import resource="applicationContext-dao.xml"/>
	 <import resource="applicationContext-cache.xml"/> 
	 <import resource="applicationContext-queue.xml"/>
	 <import resource="applicationContext-service.xml"/>
	<import resource="applicationContext-task.xml"/>-->
	<import resource="applicationContext-cache.xml"/> 
	<import resource="applicationContext-queue.xml"/>
	<import resource="applicationContext-service.xml"/>
	 
	  
</beans>
